html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.box {
    background-color: #bd0606;
    padding: 12px;
    flex-basis: 200px;
}

.middle {
    background-color: red;
}

@media screen and (max-width: 850px) {
    .box {
        flex-grow: 1;
    }
}

@media screen and (max-width: 550px) {
    .container {
        flex-wrap: wrap;
    }

    .box {
        flex-grow: 1;
    }
}
