html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h3 {
    font-size: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: #bd0606;
    padding: 20px;
    flex-basis: 200px;
    flex-grow: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.1s ease-in;
}

.middle {
    background-color: red;
}

.box:hover {
    background-color: #ff0052;
}
