html {
    box-sizing: border-box;
}

/* h1:hover {
    background-color: red;
}

p:active {
    color: yellow;
}

button:hover {
    color: red;
}

button:focus {
    border-radius: 10px;
    background-color: green;
}

button:active {
    background-color: orange;
    font-size: 30px;
}

input:focus {
    background-color: red;
} */

/* body {
    background-color: #fcd04b;
    font-family: Lato;
    color: white;
}

h1 {
    text-align: center;
    font-weight: 300;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #fcad26;
    font-size: 16px;
    font-weight: 300px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px 80px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px #efa424;
}

.btn:hover {
    box-shadow: 0 4px #efa424;
    top: 2px;
}

.btn:active {
    box-shadow: none;
    top: 6px;
} */

/* p {
    width: 50px;
    height: 50px;
    background-color: purple;
}

p.move-right {
    background-color: #3498db;
    transform: translateX(100px);
}

p.move-down {
    background-color: #efa424;
    transform: translateY(20px);
}

p:hover {
    transform: translate(20px, 20px);
} */

/* p {
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
    color: #ecf0f1;
    border: 2px solid #2c3e50;
}

.transformed {
    background-color: #3498db;
    transform: scaleX(2);
}

.transformed {
    background-color: #9b59b6;
    transform: rotate(45deg);
} */

.box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: white;
    font-size: 17px;
    background-color: orange;
    border-radius: 20px;
    text-align: center;
}

/* .animated {
    transition-property: background, border-radius;
    transition-duration: 1s, 2s;
    transition-delay: 2s, 2s;
}

.box:hover {
    background: #e74c3c;
    transform-origin: top left;
    transform: scale(2);
    border-radius: 50px;
    opacity: 0.5; 
} */

.animated {
    /* transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s; */
    transition: transform 2s ease 1s, background 4s ease-out 3s;
}

.box:hover {
    transform: translateX(300px);
    background-color: teal;
}
